body {
  display: grid;
  justify-content: center;
  Font size: 5px;
font-family: 'Poppins', sans-serif;
  font-Weights: 200, 400, 700;



}
.super  {
  font-size: 80px;
}
.cards  {
  display: grid;
 
}



.main-nav {
  line-height: 40px;
  width: 360px;
  font-size: 2px;
  font-weight: 200px;
  text-align: center;
  font-stretch: 50px;
}
.sub-nav{
  line-height: 30px;
  font-size: 18px;
  font-family: 'poppins', sans-serif;
  font-weight: 0.5px;
  font-stretch: 50px;
  font-style: 41px;
}
.middle-main{
  width: 350px;
  line-height: 25px;
  font-family: 'Poppins', sans-serif;
     text-align: center;
    font-size: 15px;
    font-style: 41px; 

}
.child-card{
  border: 20px;
  padding: 50px 2px;
  width: 300px;

}

.card-01  {
  display: grid;
  grid-row-gap: 60px;
}
.card{
   display: grid;
  grid-template-rows: 0.5px 115px 100px;
  grid-template-areas: "color" "text" "image";


 font-family: 'Poppins', sans-serif;
  border-image: 18px;
  border-radius: 10px;
   box-shadow: 3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

.card-color{
  grid-area: color;
  align-items:  center;
  background: #2ab9b3;
  padding: 2px;
  border-radius:50px;
  
  

}
.card-text{
  grid-area: text;
  border: 10px;
  padding: 30px;
  line-height: 20px;
  font-style: 41px; 
  font-weight: 0.1;
}

.card-image{
  grid-image: grid-image;
  text-align: end;
  padding: 40px;
  border-radius: 20;

  

}




.card-1{
  display: grid;
  grid-template-rows: 0.5px 115px 105px;
  grid-template-areas: "color" "text" "image";

 font-family: 'Poppins', sans-serif;
  border-image: 18px;
  border-radius: 10px;
   box-shadow: 3px 3px 5px 6px #ccc;  
}

.card-color1{
  grid-area: color;
  align-items:  center;
  background: #b41859;
  width: 330px;
  margin: 0px;
  padding: 2px;
  border-radius:50px;
  
}
.card-text1{
  grid-area: text;
  border: 20px;
  padding: 30px;
  line-height: 25px;
}

.card-image1{
  grid-image: grid-image;
  text-align: end;
  padding: 30px;
}




.card-3{
  display: grid;
  grid-template-rows: 0.5px 115px 100px;
  grid-template-areas: "color" "text" "image";

font-family: 'Poppins', sans-serif;
  border-image: 18px;
  border-radius: 40px;
    border-radius: 10px;
   box-shadow: 3px 3px 5px 6px #ccc; 
  
}

.card-color3{
  grid-area: color;
  align-items:  center;
  background: #ff7600;
  width: 330px;
  margin: 0px;
  padding: 2px;
  border-radius:50px;
  
}
.card-text3{
  grid-area: text;
  line-height: 25px;
  font-weight: faint;
  line-height: 25px;
  padding: 30px;
}

.card-image3{
  grid-image: grid-image;
  text-align: end;
  padding: 30px;
}

.card-4{
  display: grid;
  grid-template-rows: 0.5px 115px 100px;
  grid-template-areas: "color" "text" "image";

font-family: 'Poppins', sans-serif;
  border-image: 18px;
   border-radius: 10px;
   box-shadow: 3px 3px 5px 6px #ccc;   
}

.card-color4{
  grid-area: color;
  align-items:  center;
  background: #1d52ff;
  width: 330px;
  margin: 0px;
  padding: 2px;
  border-radius:50px;
  
}
.card-text4{
  grid-area: text;
  line-height: 25px;
  padding: 30px;
}

.card-image4{
  grid-image: grid-image;
  text-align: end;
  padding: 30px;
}

